.Wrapper {
  /* Mobile first */
  margin: 2px;
  padding: 2px;

  width: 100%;
}

/* Tablets */
@media (min-width: 600px) {
  .Wrapper {
    margin: 8px;
    padding: 8px;
  }
}

/* Desktop */
@media (min-width: 961px) {
  .Wrapper {
    margin: 10%;
    padding: 2.5%;
  }
}
