.AboutMe {
    background-color: var(--white);
    color: var(--black);

    text-align: center;

    padding: 24px;
}

.About {
    display: grid;
    gap: 8px;
    grid-template-areas:
        'intro'
        'profile'
        'skills'
        'resume';

    &-introduction {
        grid-area: intro;

        display: grid;
        grid-template-areas:
            'title title title'
            '. pic .'
            'blurb blurb blurb';

        & h3 {
            grid-area: title;
        }

        & img {
            grid-area: pic;
            border-radius: 50%;
            width: 6.6rem;
        }

        & p {
            grid-area: blurb;
        }
    }

    &-profile {
        grid-area: profile;
        text-align: left;
    }

    &-skills {
        grid-area: skills;
        text-align: left;
    }

    &-resume {
        grid-area: resume;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        display: block;
        background-color: var(--black);
        color: var(--white);
        padding: 8px;
    }
}

@media (min-width: 765px) {
    .About {
        max-width: 800px;
        margin: 0 auto;
        grid-template-areas:
            'intro intro'
            'profile skills'
            'resume resume';

        &-introduction {
            display: grid;
            grid-template-areas:
                'title title title'
                'pic blurb blurb';

            gap: 4px;

            p {
                padding-top: 8px;
            }
        }
    }
}
