.Portfolio {
    background-color: var(--dimGray);
    text-align: center;
    width: 100%;
    padding: 24px;
}

.Works {
    display: grid;
    max-height: 100%;
    margin: 0 auto;

    @media (min-width: 765px) {
        max-width: 800px;
    }

    grid-template-areas:
        'one'
        'two'
        'three';

    @media (min-width: 750px) {
        grid-template-areas:
            'one one'
            'two three';
    }

    gap: 4px;

    &-one {
        grid-area: one;
    }

    &-two {
        grid-area: two;
    }

    &-three {
        grid-area: three;
    }

    &-four {
        grid-area: four;
    }
}

.Work {
    display: block;
    max-height: 30vh;
    img {
        margin: 0;
    }
    overflow: hidden;
}
