body {
    --lightGray: rgb(210, 209, 203);
    --rosyBrown: rgb(160, 137, 147);
    --darkGray: rgb(94, 43, 78);
    --dimGray: #ebebeb;
    --black: rgb(25, 14, 24);
    --white: rgb(255, 255, 255);
    --red-purple: #cc005f;

    --primaryColor: var(--red-purple);
    --secondaryColor: var(--lightGray);
    --tertiaryColor: var(--dimGray);
    --accentColor: var(--rosyBrown);

    --textColor: var(--black);
    --textBackground: var(--lightGray);
    --backgroundColor: var(--lightGray);

    background-color: var(--backgroundColor);
}

*,
*:after,
*:before {
    /* --debug: 1px dashed red; */
    border: var(--debug);
    box-sizing: border-box;
}

h2 {
    color: var(--primaryColor);
    text-transform: uppercase;
}
